@media (max-width: 1199px)
    header
        .logo
            margin-top: -7px

    .replic
        min-height: 690px
        margin-bottom: -40px
        .bird
        img
            height: 500px
            margin-top: 75px
        .about
            margin-left: 135px
            .main_title
                font-size: 47px
                .green
                    font-size: 47px
            .grey_text
                font-size: 17px
            .about_btn
                padding: 0
                width: 220px
                height: 70px
                margin-top: 45px

    .team
        &_img
            img
                height: 410px
        &_about
            margin-left: 50px
            &_title
                margin-top: 86px

@media (max-width: 991px)
    header
        .navbar
            margin-top: -3px
            .nav
                &_item
                    font-size: 17px

    .replic
        min-height: 565px
        margin-bottom: -60px
        position: relative
        .bird
            width: 365px
            img
                margin-left: -30px
                height: 425px
        .about
            width: 355px
            margin-left: 60px
            .main_title
                font-size: 42px
                .green
                    font-size: 42px
            .grey_text
                font-size: 15px
            .about_btn
                margin-left: 30px
                width: 210px
                height: 60px

    .reproductions
        .reproductions_btn
            width: 108px
            padding-left: 25px

        .boxes
            margin-left: 6px
            .box
                width: 330px
                .box_img
                    width: 290px
                    height: 422px
                    padding: 0
                    img
                        display: none
                .box_btn
                    width: 290px
                    margin: 20px 0 30px 20px
            .img_1
                background: url(../img/section_2/picture_1.jpg) center center / cover no-repeat
            .img_2
                background: url(../img/section_2/picture_2.jpg) center center / cover no-repeat
            .img_3
                background: url(../img/section_2/picture_3.jpg) center center / cover no-repeat
            .img_4
                background: url(../img/section_2/picture_4.jpg) center center / cover no-repeat
            .img_5
                background: url(../img/section_2/picture_5.jpg) center center / cover no-repeat
            .img_6
                background: url(../img/section_2/picture_6.jpg) center center / cover no-repeat

    .promo
        &_title_box
            margin-top: 10px
        &_btn
            width: 230px
            height: 60px

    .team
        &_img
            img
                height: 500px
        &_about
            margin-left: 2px
            &_title
                margin-top: 50px
            &_text
                margin-top: 30px
                width: 673px
            &_images
                margin-top: 30px
                margin-right: 30px

    footer
        .footer_col_1
            margin-bottom: 35px
            display: flex
            justify-content: space-between
            .info
                margin-top: -5px
                .phone
                    margin-top: 0
        .footer_col_2
            margin-left: -38px
        .footer_col_3
            margin-left: 65px
        .footer_col_4
            .footer_title
                width: 54px
        .footer_col_5
            margin-left: 76px
            .rights
                width: 102px

@media (max-width: 767px)
    header
        .logo
            margin-left: -22px
            img
                height: 35px
            .logo_name
                font-size: 17px
        .navbar
            margin-top: -2px
            margin-left: -30px
            .nav
                &_item
                    margin-right: 42px
                    font-size: 15px
                &_item_short
                    width: 41px

    .replic
        min-height: 425px
        margin-bottom: -15px

        .bird
            img
                margin-left: -35px
                height: 315px
        .about
            margin-left: 45px
            .main_title
                margin-top: 100px
                font-size: 35px
                .green
                    font-size: 35px
            .grey_text
                font-size: 14px
            .about_btn
                width: 195px
                height: 55px
    .reproductions
        &_header
            margin-left: -15px
            .title
                font-size: 27px
            .buttons
                .reproductions_btn
                    height: 41px
                    width: 105px
                    font-size: 17px
                    margin-left: 17px
                    padding: 0 16px 0 13px
        .boxes
            margin-left: 0
            .box
                width: 250px
                .box_title
                    font-size: 25px
                .box_matherials
                    font-size: 15px
                .box_price
                    margin: 25px 0 0 20px
                    font-size: 20px
                .box_img
                    width: 211px
                    height: 290px
                .box_btn
                    margin: 25px 0 20px 19px
                    width: 211px

    .promo
        &_text
            margin-top: 40px
            .separator
                display: none
        &_btn
            margin-left: 93px
            height: 60px
            width: 300px
    .team
        &_img
            margin-left: 18px
            img
                height: 470px
        &_about
            &_text
                width: 541px
                br
                    display: none

    footer
        .footer_col_4
            margin-left: 22px
        .links
            width: 120px

@media (max-width: 575px)
    header
        min-height: 90px
        .logo
            margin-left: -5px
            margin-top: -28px
            .logo_name
                margin-top: 4px
        .tablet_divider
            display: block
            margin-left: 20px
            width: 100%
            height: 1px
            background: #C3D1C6
        .navbar
            margin-top: 6px
            .cart
                margin-left: 30px

    .replic
        min-height: 360px
        margin-bottom: -40px
        .bird
            margin-top: 50px
            img
                margin-left: -23px
                height: 239px
                width: 195px
        .about
            width: 260px
            margin-left: 21px
            .main_title
                font-size: 29px
                margin-top: 131px
                .green
                    font-size: 29px
            .grey_text
                font-size: 11px
                margin-top: 15px
            .about_btn
                width: 178px
                height: 50px
                margin-top: 15px
                margin-left: 0

    .reproductions
        &_header
            display: block
            .title
                margin-left: 33px
                font-size: 24px
            .buttons
                margin-top: 15px
                justify-content: left
        .boxes
            margin-left: -16px
            .box
                width: 200px
                .box_img
                    margin: 20px 20px 0 20px
                    height: 205px
                    width: 160px
                .box_author
                    font-size: 15px
                .box_title
                    font-size: 21px
                .box_matherials
                    font-size: 14px
                    br
                        display: inline
                .box_price
                    font-size: 18px
                .box_btn
                    width: 162px

    .promo
        min-height: 502px
        &_title_box
            width: 499px
            margin-top: -20px
            margin-left: -90px
            img
                width: 50px
                height: 50px
            .promo_title
                font-size: 24px
                br
                    display: inline
        &_text
            margin-top: 21px
            font-size: 16px
        &_btn
            width: 190px
            height: 50px
            font-size: 18px
            margin-left: 33px
    .team
        &_img
            img
                height: 360px
                width: 304px
        &_about
            &_title
                margin-top: 30px
                font-size: 24px
            &_text
                margin-top: 20px
                width: 402px
                font-size: 16px
            &_images
                margin-left: -8px
                margin-right: 0

    footer
        .footer_col_1
            .info
                .workshop
                    font-size: 16px
        .ml_change_1
            margin-left: 103px
        .ml_change_2
            margin-left: 54px
        .fz_change
            margin-top: -10px
            .ul_title
                .ul_item
                    font-size: 16px
        .footer_divider
            display: block
            margin-top: -8px
            margin-left: 5%
            width: 90%
            height: 1px
            background: #C3D1C6
        .footer_col_5
            .links
                width: 132px
                margin-left: 62px
            .rights
                margin-left: 36px
                width: 176px
                .all_rights
                    br
                        display: none

@media (max-width: 425px)

    .mobile_header
        display: block
        z-index: 3
        height: 68px
        min-width: 100%
        position: fixed
        background-color: $bg_title_color
        &_content
            display: flex
            flex-direction: row
            justify-content: space-between
            .menu
                position: fixed
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                top: 0
                left: -100%
                width: 50%
                height: 400px
                padding: 20px 15px
                background-color: rgba(212, 232, 217, 0.8)
                transition: 0.6s all
                &_active
                    left: 0
                .menu_item
                    list-style-type: none
                    padding-right: 0
                    border: none
                    margin: 10px 0
                    color: $dark_color
                    font-size: 18px
                    font-weight: 500
            .hamburger
                z-index: 5
                display: block
                width: 25px
                height: 12px
                margin-top: 30px
                margin-left: 15px
                span
                    display: block
                    height: 2px
                    width: 100%
                    background-color: $dark_color
                    margin-bottom: 2px
                    transition: 0.1s all
                &:active
                    span
                        margin-bottom: -2px
                        &:nth-child(1)
                            transform: translateY(3px) rotate(-45deg)
                        &:nth-child(2)
                            display: none
                        &:nth-child(3)
                            transform: translateY(3px) rotate(45deg)
            .brand
                display: flex
                justify-content: center
                width: 142px
                .star
                    margin-top: 17px
                .name
                    margin-top: 20px
                    color: $green_color
                    font-size: 20px
                    font-weight: 700
            .cart
                margin-top: 19px
                margin-right: 15px

    header
        background: none
        .container
            display: none

    .replic
        min-height: 324px
        margin-bottom: -15px
        .bird
            display: none
        .about
            width: 262px
            .main_title
                font-size: 30px
                .green
                    font-size: 30px
            .grey_text
                width: 279px
                font-size: 14px
            .about_btn
                margin-top: 40px
                width: 154px
                font-size: 18px

    .reproductions
        .boxes
            .box
                width: 290px
                .box_img
                    height: 250px
                    width: 250px
                .box_author
                    font-size: 16px
                .box_title
                    font-size: 24px
                .box_matherials
                    font-size: 16px
                    br
                        display: none
                .box_price
                    font-size: 20px
                .box_btn
                    width: 250px
                    height: 50px
                    font-size: 18px
    .promo
        min-height: 553px
        &_title_box
            margin-left: -80px
            width: 425px
            .promo_title
                width: 200px
        &_btn
            width: 290px

    .team
        .team_img
            img
                width: 290px
                height: 290px
        .team_about
            &_text
                width: 358px
            &_images
                justify-content: space-between
                margin-left: 40px
                .worker
                    margin-left: -40px

    footer
        position: relative
        min-height: 395px
        .footer_col_1
            flex-direction: column
            .info
                margin-top: 20px
        .footer_col_2
            position: absolute
            top: 80px
            left: 175px
            margin: 0
        .footer_col_3
            position: absolute
            top: 195px
            left: -40px
            margin: 0
        .footer_col_4
            position: absolute
            top: 195px
            left: 175px
            margin: 0
        .footer_divider
            margin-top: 125px
        .footer_col_5
            margin-top: 20px
            margin-left: 45%
            transform: translateX(-50%)

@media (max-width: 375px)
    .reproductions
        &_header
            .buttons
                margin-left: -8px
                .reproductions_btn
                    width: 90px
                    height: 40px
                    padding: 0
                    font-size: 15px

    .promo
        position: relative
        &_title_box
            position: absolute
            top: 55px
            left: 68px
            width: 321px
        &_text
            margin-top: 70px
        &_btn
            margin-left: 4px
            width: 280px
    .team
        &_img
            margin-left: 2px
        .team_about
            &_text
                width: 295px
        .team_about_images
            margin-left: 0
            .worker
                margin-left: -10px

    footer
        .footer_col_1
            .info
                .phone
                    font-size: 18px
        .fz_change
            .ul_title
                .footer_title
                    font-size: 18px
        .footer_col_2
            left: 140px
        .footer_col_4
            left: 140px
